/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    /* border: 0;
    margin: 0; */
}

.team-gray{
    color: var(--Dark-03, #727272);
    font-weight: 400;
    line-height: 1.65rem;
}

.primery-btn {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 1.2rem 1.5rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

/* header work and styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

.nav-title {
    color: var(--Dark-01, #131313);
    font-size: 3em;
    font-weight: 700;
}

/* nav work done for now */
/* banner work start */
.banner-content {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    padding-top: 3.125rem;
}

main {
    max-width: 1440px;
    margin: 0 auto;

}

.features {
    display: flex;
    align-items: center;
    margin-top: 5.4rem;
}

.features-img-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-content {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
}

/* features title work */
.features-title,
.quick-list {
    color: var(--Dark-03, #727272);
    font-size: 2.85rem;
    font-weight: 500;
}
.of-our{
    color: var(--Dark-01, #131313);
    font-weight: 700;
}
.last-word{
    color: #FF900E;
    font-weight: 700;
}

.features-img-team{
    grid-template-columns: repeat(1);
}

/* mobile devices view work */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }

    nav,
    .features
    {
        flex-direction: column;
    }
    .features-img-team{
        grid-template-columns: 1fr;
    }
}

/* tablet devices view work */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav,
    .features
     {
        flex-direction: column;
    }
}