/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    /* border: 0;
    margin: 0; */
}

.primery-btn {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 1.2rem 1.5rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

/* header work and styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

.nav-title {
    color: var(--Dark-01, #131313);
    font-size: 3em;
    font-weight: 700;
}

/* nav work done for now */
/* banner work start */
.banner-content {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner-discription {
    color: var(--Dark-03, #727272);
}
.banner img{
    width: 100%;
    padding-top: 3.125rem;
}